  /* CSS */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li:hover {
    background-color: #ddd;
  }

  .highlight {
    background-color: #ffa;
  }

  #opcoes {
    display: none;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .opcoes-col {
    flex: 1;
    margin: 0 5px;
  }

  .opcoes-col ul {
    padding: 0 10px;
  }

  .opcoes-col h3 {
    margin-top: 0;
  }

  #botao-adicionar {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #botao-adicionar:hover {
    background-color: #0056b3;
  }

  #tarefas {
    margin-top: 20px;
  }

  .acao {
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s ease;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .acao:hover {
    background-color: #0056b3;
  }

  .confirmacao {
    color: #007bff; /* Cor azul */
    margin-bottom: 10px;
  }

  /* Estilo para os botões de ação das tarefas */
  .botoes-tarefa {
    display: flex;
    gap: 5px;
  }